.container {
  padding: 3px;
  max-width: 800px;
  margin: 60px auto 10px auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  height: 100%;
  min-height: 800px;
}

#title {
  font-size: 2.5em; /* 제목 크기 */
  font-weight: bold; /* 두껍게 */
  color: #333; /* 글자 색상 */
  text-align: center; /* 중앙 정렬 */
  text-transform: uppercase; /* 대문자로 변환 */
  letter-spacing: 1px; /* 글자 간격 */
  border-bottom: 2px solid #ccc; /* 아래쪽 테두리 */
  padding-bottom: 10px; /* 아래쪽 패딩 */
  font-family: 'Arial', sans-serif; /* 글꼴 설정 */
}


/* 멤버 박스 스타일 */
.memberBox {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  position: relative;
  width: calc(100% - 20px); /* 전체 너비에서 padding을 제외 */
}
  
/* 멤버 이미지 스타일 */
.member-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}

/* 멤버 정보 스타일 */
.member-info {
  flex: 1;
}

.member-container {
  border: 1px solid #ddd; /* 테두리 추가 */
  border-radius: 8px;
  padding: 10px;
  margin: 3px 3px 20px 3px ;
}



  
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="date"],
.form-group select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}



/* endDate 스타일 수정 */
#endDate {
  display: flex;
  align-items: center; /* 세로 중앙 정렬 */
  gap: 10px; /* 요소 간의 간격 */
}

/* 당일 체크박스 스타일 */
#endDate label[for="noEndDate"] {
  margin-left: 10px; /* 입력 필드와 체크박스 간의 간격 */
  white-space: nowrap; /* 라벨 텍스트가 한 줄로 유지되도록 설정 */
  margin-right: 10px; /* 입력 필드와 체크박스 간의 간격 조정 */
}


#endDate input[type="date"] {
  flex: 1; /* 날짜 입력 필드가 가능한 공간을 차지하도록 설정 */
}




  
  
  /* 버튼 컨테이너 스타일 */
  .button-container {
    display: flex; /* 수평 배치 */
    flex-direction: row; /* 버튼들이 한 줄에 배치되도록 설정 */
    justify-content: flex-end; /* 버튼들을 컨테이너의 오른쪽 끝에 정렬 */
    align-items: center; /* 버튼들을 수직으로 중앙에 맞춤 */
    gap: 10px; /* 버튼 간의 간격 */
    margin-top: 10px; /* 컨테이너와 위 요소 간의 간격 */
  }
  

  
  .status-button{
    padding: 10px 20px;
    background: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

#saveButton, #saveAnnouncementButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 13px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin: 3px;
    width: calc(100% - 6px);
}

#saveButton:hover, #saveAnnouncementButton:hover {
  background-color: #0056b3;
}


#announcement-container, #my-data-container, #user-member-container {
  border: 1px solid #ddd; /* 테두리 추가 */
  border-radius: 8px;
  padding: 10px;
  margin: 3px 3px 20px 3px ;
}

  


::placeholder {
  text-align: center;
  color: #6c757d; /* 플레이스홀더 색상 변경 */
}

#searchInput {
  padding: 8px 15px;
  font-size: 13px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 35%;
  max-width: 300px;
  box-sizing: border-box; /* padding과 border를 포함해 너비를 계산 */
  margin-bottom: 10px;
  margin-left: 3px;
}





/* 출석 코드 입력 필드 스타일 */
#attendance-code-input {
  padding: 10px 20px;
  font-size: 13px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
  margin-right: 10px; /* 버튼과의 간격 */
  margin-left: 10px; /* 버튼과의 간격 */
}

/* 출석 코드 제출 버튼 스타일 */
#attendance-code-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 13px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

/* 버튼 hover 효과 */
#attendance-code-button:hover {
  background-color: #0056b3;
}

/* 코드 입력 필드와 버튼을 포함하는 컨테이너의 스타일 */
#code-container {
  display: flex;
  align-items: center; /* 세로 중앙 정렬 */
  gap: 10px; /* 입력 필드와 버튼 사이의 간격 */
  border: 1px solid #ddd; /* 테두리 추가 */
  border-radius: 8px;
  padding: 10px;
  margin: 3px ;
}
