.container {
    max-width: 800px;
    margin: 60px auto 10px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    height: 100%;
    min-height: 800px;
  }
  
  
  #title {
    padding: 15px;
    font-size: 2.5em; /* 제목 크기 */
    font-weight: bold; /* 두껍게 */
    color: #333; /* 글자 색상 */
    text-align: center; /* 중앙 정렬 */
    margin: 20px 0; /* 위아래 여백 */
    text-transform: uppercase; /* 대문자로 변환 */
    letter-spacing: 1px; /* 글자 간격 */
    border-bottom: 2px solid #ccc; /* 아래쪽 테두리 */
    padding-bottom: 10px; /* 아래쪽 패딩 */
    font-family: 'Arial', sans-serif; /* 글꼴 설정 */
  }
  
  h1 {
      font-size: 24px;
      color: #007bff;
      margin-bottom: 10px;
  }
  
  h3 {
      margin-top: 20px;
      font-size: 20px;
      color: #007bff;
  }
  
  
  p {
      font-size: 16px;
      margin: 5px 0;
      color: #555;
  }
  
  
  
  
    /* -----------------------테이블----------------------- */
  #table-container {
    overflow-x: auto;
    overflow-y: auto;
  }
  table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
  
  }
  
  table th, table td {
      padding: 10px;
      border: 1px solid #ddd;
      text-align: center;
  }
  
  table th {
      background-color: #007bff;
      color: white;
  }
   
  .detail-button {
      background-color: #007bff;
      color: white;
      border: none;
      padding: 5px 10px;
      cursor: pointer;
      border-radius: 5px;
  }
  
  .detail-button:hover {
      background-color: #0056b3;
  }
  
  .pay-button {
      background-color: #28a745;
      color: white;
      border: none;
      padding: 5px 10px;
      cursor: pointer;
      border-radius: 5px;
      margin-left: 10px;
  }
  
  .pay-button:hover {
      background-color: #218838;
  }
  
  
  
  #searchInput {
    padding: 10px 20px;
    font-size: 13px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 50%;
    max-width: 300px;
    box-sizing: border-box; /* padding과 border를 포함해 너비를 계산 */
    margin-left: 10px;
  }
  
  ::placeholder {
    text-align: center;
    color: #6c757d; /* 플레이스홀더 색상 변경 */
  }
  
  
  
  #ledger-container {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin: 3px 10px 10px 10px ;
  }
  
  #table-container {
    padding: 10px;
    margin: 3px 3px 20px 3px ;
  }




/* -----------------------모달----------------------- */

/* 모달 기본 스타일 */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: opacity 0.3s ease;
  opacity: 0;
  visibility: hidden;
}

.modal.visible {
  opacity: 1;
  visibility: visible;
}

.modal-content {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  width: 90%;
  max-width: 800px;
  max-height: 80vh; /* 최대 높이를 지정 */
  overflow-y: auto;  /* 높이를 초과하면 스크롤 생기도록 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}


/* 모달 닫기 버튼 스타일 */
#closeModalBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

#closeModalBtn:hover {
  background: #c0392b;
}