body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.container {
  width: 100%;
  max-width: 700px;
  height: auto;
  border-radius: 20px;
  background-color: #ffffff;
  margin: 90px auto;
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
  display: flex;
  flex-direction: column; /* 세로 방향으로 쌓이게 함 */
  align-items: center; /* 중앙 정렬 */
  width: 100%;
  margin-bottom: 1.5rem;
}

.inputRequired {
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 0.5rem;
  width: 80%; /* 비율을 조정 */
  text-align: left; /* 입력란의 텍스트를 왼쪽 정렬 */
}


.btn {
  margin-left: 5px;
  width: 20%;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}

.btn.leave-btn {
  background-color: #dc3545;
}

.btn.leave-btn:hover {
  background-color: #c82333;
}

::placeholder {
  color: #6c757d;
}

textarea {
  resize: none;
  width: 100%;
}


.profile-image-container {
  margin: 20px auto;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.profile-image {
  width: 100%;
  height: auto;
  display: block;
}

.back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.back-button::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-left: 5px solid #007bff;
  border-top: 5px solid #007bff;
  transform: rotate(-45deg);
  position: absolute;
}

.back-button:hover::before {
  border-left-color: #0056b3;
  border-top-color: #0056b3;
}

.back-button:active::before {
  border-left-color: #003366;
  border-top-color: #003366;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.profileImage {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.logo {
  height: 40px;
  width: auto;
  margin-left: 40px;
  cursor: pointer; /* 포인터 커서 변경 */
}

.header button {
  margin-left: 10px;
  font-family: 'Arial', sans-serif;
  color: #ffffff;
}

label {
  width: 85%; /* 라벨도 동일한 비율로 설정 */
  text-align: left; /* 라벨 중앙 정렬 */
}

#idAlert {
  color: green; /* 필요에 따라 색상 조정 */
}

