.sidebar {
    height: 100%;
    width: 250px; /* Sidebar width */
    position: fixed;
    top: 0;
    right: -250px; /* Hide sidebar off-screen */
    background-color: #ffffff;
    overflow-x: hidden;
    transition: right 0.5s; /* Smooth transition effect */
    z-index: 1000; /* Ensure sidebar is above other elements */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar ul li {
    text-align: center;
}

.sidebar ul li a {
    display: block;
    color: rgb(255, 0, 0);
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.sidebar ul li a:hover {
    background-color: #575757;
}

.sidebar-open .sidebar {
    right: 0;
}


.sidebar-button, .sidebar ul li button {
    width: 100%;
    padding: 13px;
    margin: 5px 0;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    transition: background-color 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

.sidebar-button:hover, .sidebar ul li button:hover {
    background-color: #007bff;
    color: rgb(255, 255, 255);
}


.sidebar-profile-image-container {
    margin: 20px auto; /* 중앙 정렬을 위해 자동 마진 추가 */
    width: 120px; /* 원하는 이미지 크기로 설정 */
    height: 120px;
    border-radius: 50%; /* 원형으로 만들기 위해 반지름을 이미지 크기의 절반으로 설정 */
    overflow: hidden;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px #000000; /* 약간의 그림자 추가 */
    border: 3px solid #000000;
}

.sidebar-profile-image {
    width: 100%; /* 컨테이너 크기에 맞게 조정 */
    height: auto;
    display: block;
}


#toggleButton {
    position: fixed;
    top: 7px;
    right: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 1000; /* 버튼이 다른 요소 위에 표시되도록 설정 */
}