body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}



.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}


/* 멤버 박스 스타일 */
.memberBox {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  position: relative;
  width: calc(100% - 20px); /* 전체 너비에서 padding을 제외 */
  max-width: 600px;
}

/* 멤버 이미지 스타일 */
.member-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}

/* 멤버 정보 스타일 */
.member-info {
  flex: 1;
}

/* 멤버 컨테이너에 스크롤 추가 */
.member-container {
/*max-height: 600px;  원하는 높이 설정 */
/*overflow-y: auto;  세로 스크롤 추가 */
border: 1px solid #ddd; /* 테두리 추가 */
border-radius: 8px;
padding: 10px;
margin-bottom: 20px;
}

#announcement-container, #code-container, #edit-container {
  border: 1px solid #ddd; /* 테두리 추가 */
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
}


.form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input[type="text"],
  .form-group input[type="date"],
  .form-group input[type="number"],
  .form-group select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  #saveAnnouncementButton {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #28a745;
    color: white;
    font-size: 16px;
  }
  
  #saveAnnouncementButton:hover {
    background-color: #218838;
  }
  
    

.status-button {
  padding: 10px 20px;
  background: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}



















