/* 공지사항 요소 */
.noticeBox {
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
  }
  
  .notice-title {
    cursor: pointer;
    margin: 0;
    padding: 10px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ccc;
    font-size: 1.2em;
  }
  
  .notice-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out, padding 0.5s ease-out;
    padding: 0 10px;
  }
  
  .notice-content.open {
    max-height: 300px; /* 적절한 높이로 설정 */
    padding: 10px;
  }
  
  .notice-info, .notice-dates {
    font-size: 0.9em;
    color: #555;
    margin: 5px 0;
  }
  
  .notice-textContent {
    font-size: 1.1em;
    margin-top: 10px;
  }
  
  /* 공지사항 작성하기 버튼 */
  .button-container {
    display: flex;
    gap: 10px; /* 버튼 사이의 간격을 설정합니다 */
    left: 50%;
}

.create-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.create-button:hover {
    background-color: #0056b3;
}

  
  
  
  .btn {
    margin: 5px;
    width: 40%;
    max-width: 300px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #0056b3; /* 호버 시 배경색 변화 */
  }
  
  ::placeholder {
    text-align: center;
    color: #6c757d; /* 플레이스홀더 색상 변경 */
  }
  
  
  