.container {
    width: 500px;
    height: 100%;
    border-radius: 20px; /* 모서리를 둥글게 */
    background-color: #f2f2f2;

    display: flex;
    flex-direction: column;
    justify-content: center; /* 내부 요소 상하 중앙 정렬 */
    align-items: center;
    text-align: center;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

.inputRequired {
    background-color: #ffffff;
    border-color: #ffb7b7;
    padding: 1rem 3rem;
    margin: 1rem 0;
  }

  .input {
    background-color: #ffffff;
    border: none;
    padding: 1rem 3rem;
    margin: 1rem 0;
  }

.inputs {
    text-align: center;
    margin-top: 5px;;
  }

.buttons {
    margin-right: 5px; /* 인풋 박스 사이 간격 */
    text-align: center;
  }

.btn {
    margin-right: 5px; /* 버튼 사이 간격 */
    width: 100px;
    height: 30px;
    border-radius: 5px; /* 버튼 모서리를 둥글게 */
    border: none;
    background-color: #007bff;
    color: white; /* 버튼 텍스트 색상을 흰색으로 설정합니다 */
    cursor: pointer; /* 커서를 포인터로 변경하여 버튼을 클릭할 때 인터랙션을 제공합니다 */
  }

::placeholder {
    text-align: center;
}